[Unit]
Description=Airdancer Buttons
PartOf=airdancer.target

[Service]
EnvironmentFile=-/etc/airdancer/airdancer.env
User=dancer
ExecStart=/home/dancer/bin/airdancer-buttons --config /etc/airdancer/airdancer-buttons.toml
Restart=on-failure
RestartSec=5s

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict

[Install]
WantedBy=airdancer.target
