[Unit]
Description=Airdancer Buttons
PartOf=airdancer.target

[Service]
User=dancer
ExecStart=/home/dancer/bin/airdancer-buttons --config /etc/airdancer/airdancer-buttons.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=airdancer.target
