[Unit]
Description=Airdancer UI
PartOf=airdancer.target

[Service]
User=dancer
ExecStart=/home/dancer/bin/airdancer-ui --config /etc/airdancer/airdancer-ui.toml

[Install]
WantedBy=airdancer.target
