[Unit]
Description=Airdancer Monitor (%i)
PartOf=airdancer.target

[Service]
EnvironmentFile=-/etc/airdancer/airdancer.env
EnvironmentFile=-/etc/airdancer/airdancer-monitor-%i.env
User=dancer
ExecStart=/home/dancer/bin/airdancer-monitor --config /etc/airdancer/airdancer-monitor-%i.toml

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict

[Install]
WantedBy=airdancer.target
