[Unit]
Description=Airdancer API
PartOf=airdancer.target

[Service]
User=dancer
ExecStart=/home/dancer/bin/airdancer-api --config /etc/airdancer/airdancer-api.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=airdancer.target
